.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0,1,5);
  background: linear-gradient(0deg, rgba(0,1,5,1) 0%, rgba(9,0,53,1) 100%);
  color: #f5f5f7;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.landingTextContainer {
  text-align: center;
  margin: 3rem 1rem;
  max-width: 36rem;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 0.15rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.bodyText {
  font-size: 1.35rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1.5rem;

  &.isBold {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &.isRight {
    display: flex;
    justify-content: flex-end;
  }
}

.illustration {
  display: flex;
  position: relative;
  height: 350px;
  width: 350px;
}

.donateButton {
  color: #ffffff;
  border-radius: 4rem;
  border-width: 0px;
  background: linear-gradient(90deg, rgb(39, 53, 79) 0%, rgb(53, 28, 66) 100%);      
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 3.5rem 0;

  &:hover {
    background: linear-gradient(90deg, rgb(55, 75, 114) 0%, rgb(97, 58, 118) 100%);
  }

  .donateButtonText {
    margin-right: 0.5rem;
  }
}

.signature {
  font-size: 1rem;
  line-height: 1.75;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .signatureHandle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.socialIcon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.menu {
  position: absolute;
  top: 0; 
  left: 0;
  color: white;
}

.logo {
  margin-top: 2rem;
}

.about {
  font-size: 0.85rem;
  font-weight: 300;
  margin-top: 5rem;
}